.mainheader {
  height: 550px;
}

.background {
  background-image: url(../image/background.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  height: 550px;
  position: relative;
}
.upper-background {
  position: absolute;
  top: 180px;
}

.backgroundtwo img {
  width: 550px;
  border-radius: 10px;
}

.htext {
  font-weight: bold;
}
