@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap");

.subService {
  .subSerRow {
    display: grid;
    grid-template-columns: 4fr 6fr;
    justify-content: center;

    .half1 {
      img {
        width: 90%;
        height: auto;
      }
    }

    .halg2 {
      h2 {
        text-transform: capitalize;
        font-size: 40px;
        margin-top: 25px;
      }
      p {
        margin: 50px 0;
        font-family: "Gemunu Libre", sans-serif;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .subService {
    .subSerRow {
      display: grid;
      grid-template-columns: 10fr;
      justify-content: center;

      .half1 {
        margin-left: 25px;
      }

      .halg2 {
        padding: 30px;
        h2 {
          font-size: 30px;
          margin-top: 15px;
        }
        p {
          margin: 25px 0;
        }

        .btncolor {
          background-color: red;
        }
      }
    }
  }
}
